.c-cards {
    margin-bottom: var(--spacing-xl);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-gap: var(--spacing-md);

    @include mq(small) {
        grid-template-columns: repeat(auto-fill, minmax(36rem, 1fr));
    }
}

.c-cards__card {
    max-width: 550px;
    padding: var(--spacing-md);
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-light);
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

    @include mq(small) {
        flex-wrap: nowrap;
    }
}

.c-cards__card-link {
    flex-shrink: 0;
    align-items: flex-start;
}

.c-cards__card-thumbnail {
    width: 80px;
    margin: 0 var(--spacing-md) var(--spacing-md) 0;
}

.c-cards__card-title {
    margin-bottom: var(--spacing-xs);
    font-family: inherit;
    font-size: var(--text-md);
}

.c-cards__card-info-wrapper {
    display: flex;
    flex-direction: column;
}

.c-cards__card-description {
    flex-grow: 1;
}