.c-cards {
    margin-bottom: var(--spacing-xl);
    display: grid;
    gap: var(--spacing-md);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.c-cards--home {
    margin-bottom: var(--spacing-md);
}

.c-cards__card {
    flex: 1 1 0;
    min-width: 300px;
    max-width: 540px;
    padding: var(--spacing-md);
    background-color: var(--color-light);
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

    @include mq(small) {
        flex-wrap: nowrap;
    }
}

.c-cards__card-link {
    float: left;
    margin: 0 var(--spacing-md) var(--spacing-md) 0;
}

.c-cards__card-thumbnail {
    width: 80px;
}

.c-cards__card-title {
    margin-bottom: var(--spacing-xs);
    font-family: inherit;
    font-size: var(--text-md);
}

.c-cards__card-info-wrapper {
    display: flex;
    flex-direction: column;
}
.c-cards__card-description {
    margin-bottom: var(--spacing-sm);
}