.c-home__main {
    margin-top: auto;
}

.c-home__title {
    font-size: var(--text-xxl);

    @include mq(small) {
        font-size: 7rem;
    }
}

.c-home__subtitle {
    margin-top: var(--spacing-xl);
}

.c-home__projects-link {
    margin-bottom: var(--spacing-xl);
    display: block;
    text-align: center;
    font-size: var(--text-lg);
    font-weight: bold;
}