{% extends 'layouts/base.njk' %}

{% block content %}
  <main class="c-home__main">
    <div class="l-container c-home__intro">
      <h1 class="c-home__title">{{title}}</h1>
      <div class="u-text-lg">{{content | safe}}</div>

      <h2 class="c-home__subtitle">{{projectTitle}}</h2>

      <div class="c-cards">
        {% for project in projects %}
          {% if loop.index0 < 3 %}
            <div class="c-cards__card">
              <a href="{{ project.url }}" class="c-cards__card-link">
                <div class="u-sr-only">{{ project.name }}</div><img src="/images/project-thumbnails/{{project.thumbnail}}" alt="{{ project.title }}" class="c-cards__card-thumbnail"></a>
              <div class="c-cards__card-info-wrapper">
                <h3 class="c-cards__card-title">
                  <a href="{{ project.url }}">{{ project.name }}</a>
                </h3>
                <p class="c-cards__card-description">{{ project.description | safe }}</p>
                {% if project.code %}
                  <a href="{{ project.code }}">Code</a>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
        
        <a href="/projects/" class="c-home__projects-link">More projects</a>
      </div>
    </div>
  </main>
{% endblock %}