{% extends 'layouts/base.njk' %}

{% block content %}
  <main class="c-home__main">
    <div class="l-container c-home__intro">
      <h1 class="c-home__title">{{title}}</h1>
      <div class="u-text-lg">{{content | safe}}</div>

      <h2 class="c-home__subtitle">{{projectTitle}}</h2>

      <div class="c-cards">
        {% for project in collections.projects | reverse %}
          {% if loop.index0 < 3 %}
            <div class="c-cards__card">
              <a href="{{ project.data.url }}" class="c-cards__card-link">
                <div class="u-sr-only">{{ project.data.name }}</div><img src="/images/project-thumbnails/{{project.data.thumbnail}}" alt="{{ project.data.name }}" class="c-cards__card-thumbnail">
              </a>
              <h3 class="c-cards__card-title">
              <a href="{{ project.data.url }}">{{ project.data.name }}</a>
              </h3>
              <div class="c-cards__card-description">{{ project.templateContent | safe }}</div>
              {% if project.data.code %}
                <a href="{{ project.data.code }}">Code</a>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
        
        <a href="/projects/" class="c-home__projects-link">More projects</a>
      </div>
    </div>
  </main>
{% endblock %}