---
layout: layouts/base
title: 'Projects'
---

{% block content %}
    {% set categories = [
        {
            name: 'website',
            label: 'Websites & web apps'
        },
        {
            name: 'bot',
            label: 'Bots'
        },
        {
            name: 'presentation',
            label: 'Talks & presentations'
        },
        {
            name: 'script',
            label: 'Scripts & others'
        }
    ] %}

    <p class="u-mb-lg">Jump to : {% for category in categories %}<a href="#{{ category.name }}">{{ category.label }}</a>{% if not loop.last %} - {% endif %}{% endfor %}</p>

    {% for category in categories %}
        <h2 id="{{category.name}}">{{ category.label }}</h2>

        <div class="c-cards">
            {% for project in collections.projects | reverse %}
                {% if project.data.category == category.name %}
                    <div class="c-cards__card">
                        <h3 class="c-cards__card-title"><a href="{{ project.data.url }}">{{ project.data.title }}</a></h3>
                        <a href="{{ project.data.url }}" class="c-cards__card-link"><div class="u-sr-only">{{ project.data.title }}</div><img src="{{project.data.thumbnail}}" alt="{{ project.data.title }}" class="c-cards__card-thumbnail"></a>
                        <div class="c-cards__card-description">{{ project.templateContent | safe }}</div>
                        {% if project.data.code %}
                            <a class="c-cards__card-code" href="{{ project.data.code }}">Code</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}