---
layout: layouts/base
title: 'Resume / CV'
---

{% block content %}
    <section>
        <p class="c-resume__notice-web">🖨️ This page is optimised for print️, click here to <a onclick="window.print()">print it or export it as a pdf</a>.</p>

        <p class="u-print-only">🌐 This document is also available as a web page at <a href="{{ site.url }}resume">{{ site.url }}resume</a></p>

        <p class="u-print-only">📧 maelbrunet@gmail.com</p>
    </section>

    <img src="/images/maël.jpg" alt="Maël Brunet" class="c-resume__picture u-print-only">

    <section>
        <h2>About me</h2>
        <p>I'm a web developer with a focus on front-end development, based in
        Brussels (Belgium). I'm highly proficient in the technologies that are at core of the modern web experience :
        HTML, CSS and JavaScript. I also have an interest and attention to design, accessibility and performance. I believe that very strong knowledge of these foundations is essential to being a
        good front-end developer, and everything else can be learned as needed.</p>

        <p>I feel that a good user interface is like a joke : you shouldn't have to explain it. I value simplicity and
        intuitiveness over complex and overly engineered solutions.</p>

        <p>I see open communication, empathy and inclusivity as the essential parts of a well-functioning team. For
        more information about myself, I invite you to have a look at my about page : <a href="{{ site.url }}/about">{{ site.url }}/about</a>.</p>
    </section>

    <section>
        <h2>Skills</h2>
        <p>Looking for keywords ? I have project experience with the following tools and technologies :</p>
        <p>Git, Bash, HTML, CSS, Sass, JavaScript (including ES6+), TypeScript, React, Redux, Vue, Jest, npm, Node, Webpack, Rollup, Parcel, Gulp, Babel, ESlint, Agile methodologies, ...</p>
    </section>

    <section>
        <h2>Work experience</h2>
        <ul class="c-resume__work">
            <li class="c-resume__work-xp">
                <div class="c-resume__work-xp-meta">
                    <b><a href="https://www.keytradebank.be/">Keytrade Bank</a></b>
                    <p>Feb 2019 - Now</p>
                </div>
                <div>
                    I joined the Keytrade team to help build their <b>Design System</b>, serving multiple React-based projects developed across multiple teams. My responsibilities include :
                    <ul>
                        <li>Develop and deploy components to our internal npm repository.</li>
                        <li>Ensure code quality through the use of unit tests, linting tools and systematic peer review.</li>
                        <li>Maintain the documentation of components using Storybook.</li>
                        <li>Help drive adoption of the shared components with good communication, clear versioning, ...</li>
                    </ul>
                </div>
            </li>
            <li class="c-resume__work-xp">
                <div class="c-resume__work-xp-meta">
                    <b><a href="https://www.isabelgroup.eu/en/">Isabel Group</a></b>
                    <p>Jan 2018 - Feb 2019</p>
                </div>
                <div>
                    I joined Isabel Group as a <b>front-end developer</b> and <b>UI specialist</b>. Isabel Group is Belgium's largest fintech, providing banking
                    services like Isabel 6, Zoomit and CodaBox to companies of all sizes. Part of a small team reporting
                    directly to the CTO, I worked on a variety of projects, including :
                    <ul>
                        <li>I created and maintained a design system to share UI components across multiple projects, based on Vue, Storybook and npm packages.</li>
                        <li>I launched and lead a UI "Community of Practice", gathering designers and developers from all teams
                        within the group on a regular basis to share experiences and best practices.</li>
                    </ul>
                </div>
            </li>
            <li class="c-resume__work-xp">
                <div class="c-resume__work-xp-meta">
                    <b><a href="https://www.emakina.be/">Emakina</a></b>
                    <p>Jan 2016 - Dec 2017</p>
                </div>
                <div>
                    I joined Emakina as a <b>front-end developer</b>, where I worked on a range of different technologies and frameworks
                    for some great brands like Ouibus, D'Ieteren, Deutsche Bank, Federale Assurance, ... Notable projects I was
                    involved with include :
                    <ul>
                        <li>A complete redesign of the <a href="https://www.federale.be">Federale Assurance</a>
                        website, running on a new platform and including an application to find the nearest Federale office. I
                        was the lead front-end developer on this project.</li>
                        <li>A new <a href="https://onlinebanking.deutschebank.be">online banking web app</a> for Deutsche Bank Belgium, providing a much improved user experience. I worked on some of the UI design and HTML / CSS for this project.</li>
                    </ul>
                </div>
            </li>
            <li class="c-resume__work-xp">
                <div class="c-resume__work-xp-meta">
                    <b><a href="http://www.openforumeurope.org/">OpenForum Europe</a></b>
                    <p>May 2012 - Dec 2015</p>
                </div>
                <div>
                    I was <b>policy officer</b> and <b>webmaster</b> for OpenForum Europe (OFE), a not-for-profit industry organisation aiming to accelerate and broaden the use of Open Source Software among businesses, consumers and governments.
                </div>
            </li>
        </ul>
    </section>

    <section class="c-resume__education-and-languages">
        <div>
            <h2>Education</h2>
            <ul class="c-resume__education">
                <li class="c-resume__education-item">
                    <div class="c-resume__education-item-meta">
                        <b>Institut d'Etudes Politiques de Lille</b>
                        <p>2006 - 2011</p>
                        </div>
                        <div>
                        Master II in Political Science
                    </div>
                </li>
                <li class="c-resume__education-item">
                    <div class="c-resume__education-item-meta">
                        <b>University of Kent in Canterbury</b>
                        <p>2006 - 2010</p>
                        </div>
                        <div>
                        Bachelor of Arts in Politics, Philosophy and Economics
                    </div>
                </li>
                <li class="c-resume__education-item">
                    <div class="c-resume__education-item-meta">
                        <b>European School of Brussels II</b>
                        <p>2006</p>
                        </div>
                        <div>
                        Baccalaureate
                    </div>
                </li>
            </ul>
        </div>

        <div>
            <h2>Languages</h2>
            <ul>
                <li>French (native)</li>
                <li>English (bilingual)</li>
                <li>Dutch (beginner)</li>
                <li>Spanish (intermediate)</li>
            </ul>
        </div>
    </section>
{% endblock %}