:root {
    --color-primary: #3E6689;
    --color-primary-dark: #1E3243           ;
    --color-primary-light: #6F99BE;
    --color-dark: #485058;
    --color-grey: #E5E5E5;
    --color-light: #ffffff;

    --spacing-xxs: 2px;
    --spacing-xs: 6px;
    --spacing-sm: 12px;
    --spacing-md: 20px;
    --spacing-lg: 30px;
    --spacing-xl: 60px;

    --text-sm: 1.2rem;
    --text-md: 1.6rem;
    --text-lg: 2.2rem;
    --text-xl: 3rem;
    --text-xxl: 4rem;
}